{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    {% load static %}
    <div class="container">
        <div class="row row-bg justify-content-center">
            <div class="col-12 md-pb col-md-12 col-lg-6">
                <div class="text-wrapper align-left">
                    <h1 class="mbr-section-title align-left mbr-fonts-style mb-4 display-1">Привет!</h1>
                    <p class="mbr-text align-left mbr-fonts-style display-5">
                        Я начинающий web-разработчик, и это мой учебный проект на Яндекс.Практикуме</p>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 image-wrapper">
                <img class="w-100 rounded-circle" src="{% static 'img/avatar.jpg' %}" alt="">
            </div>
        </div>
    </div>
{% endblock %}