{% extends 'base.html' %}
{% block title%} <h1>{{ group.title }} </h1>  {% endblock %} <!-- pytest не пропускает задание если не выполнено
данное условие, он ищет regex {<h1> group.title </h1>} в html файле и не находит, хотя оно есть в блоке контента-->
{% block content %}
    <div class="container py-5">
        <h1>Записи сообщества: {{ group.title }}</h1> <!-- тег h1 и group.title -->
        <p> {{ group.description }} </p>
        {% for post in page_obj %}
            <ul>
                <li>
                    Автор: {{ post.author.get_full_name }}
                    <a href =" {% url 'posts:profile' post.author %}">Все посты пользователя</a>
                </li>
                <li>
                    Дата публикации: {{ post.pub_date|date:"d E Y" }}
                </li>
            </ul>
            <p>{{ post.text }}</p>
            <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>
            <div></div>
            {% if post.group %}
                <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
            {% endif %}
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
        {% include 'includes/paginator.html' %}
    </div>
{% endblock %}